html, body, #root {
  height:100%;
  width:100%;
}

body {
  margin: 0;
  font-family: 'News Cycle', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.logo.app-title {
  color: #91d7ea !important;
}

.ant-menu-item-active > .logo.app-title:hover {
  color: #004d91 !important;
  bottom-border: 0px !important;
}

[role="menuitem"].ant-menu-item.ant-menu-item-active {
  color: #004d91 !important;
  border-bottom: 2px solid #004d91 !important;
}

[role="menuitem"].ant-menu-item.ant-menu-item-selected {
  color: #91d7ea !important;
  border-bottom: 2px solid #91d7ea !important;
}

.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
  background: white !important;
}